* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: linear-gradient(to right, #DEF5F3, #F8F9F9, #FFF2F3, #FFF0F2);
    --main-heading-color: #1A2D62;
    --secondary-heading-color: #2ECA7F;
    --nav-bg-color: #ffffff;
    --btn-1-bg-color: #2ECA7F;
    --white-color: #ffffff;
    --btn-2-bg-color: #1A2D62;
    --para-text-color: #888888;
    --border-bg-color: #b7b6b6;
    --icon-bg-color: #acf3d0;
    --feature-bg-icon-color: #d9f1e5;;
    --smile-icon-color: #4154f1;
    --file-icon-color: #ee6c20;
    --headphone-icon-color: #15be56;
    --learn-icon-color: #0081a7;
    --user-icon-color: #bb0852;
    --sub-heading-bg-color: #50faa5;
    --expert-icon-color: #fb8500;
    --team-icon-color: #03045e;
    --strong-icon-color: #06d6a0;
    --teacher-icon-color: #c9184a;
    --course-icon-color: #ffd166;

}

html {
   font-size: 62.5%;
}

.btn {
    padding: 1.5rem 3rem;
    border: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 2rem;
    font-weight: 600;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}

li, a, i {
    font-size: 1.8rem;
    list-style: none;
    text-decoration: none;
    color: var(--main-heading-color);
}

.para {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--para-text-color);
    margin-bottom: 2rem;
}

.sub-heading {
    font-size: 2rem;
    color: var(--main-heading-color);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}

.nav-section {
    display: flex;
    background-color: var(--nav-bg-color);
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-weight: 600;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.nav-section .nav-logo img {
    width: 150px;
}

.nav-section .navbar ul {
    display: flex;
    gap: 3rem;
}


.nav-section .navbar ul a:hover, .nav-section .navbar ul li i:hover {
    color: var(--secondary-heading-color);
}

.nav-section .nav-content {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.nav-section .nav-content .cart-content {
    display: flex;
    gap: 5rem;
    cursor: pointer;
}

.nav-section .nav-content .cart-content i {
    font-size: 2.2rem;
    position: relative;
}

.nav-section .nav-content .cart-content .heart-icon i::after {
    content: '0';
    position: absolute;
    top: -50%;
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: var(--secondary-heading-color);
}
.nav-section .nav-content .cart-content .add-to-cart i::after {
    content: '2';
    position: absolute;
    top: -50%;
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.3rem;
    text-align: center;
    color: white;
    background-color: var(--secondary-heading-color);
}

.nav-section .nav-content .account-content {
    display: flex;
    gap: 1.5rem;
}

.account-content .btn {
    padding: 1rem 3rem;
    border: none;
    font-size: 1.9rem;
    text-transform: capitalize;
    border-radius: 2rem;
    font-weight: 600;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.account-content .btn-1 {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}

.account-content .btn-1:hover {
    background-color: var(--btn-2-bg-color);
    color: var(--white-color);
}

.account-content .btn-2 {
    border: 0.1rem solid gray;
    color: var(--btn-2-bg-color);
}

.account-content .btn-2:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
    border: none;
}

/* Hero section Start */

.hero-section-content .hero-section-left {
    width: 40%;
}

.hero-section-content .hero-section-left .main-heading {
    font-size: 6.6rem;
    color: var(--main-heading-color);
    margin-bottom: 2rem;
}

.hero-section-content .hero-section-left .main-heading .highlight-text {
    color: var(--secondary-heading-color);
}


.hero-section-container {
    width: 100%;
    height: 100vh;
    background: var(--main-bg-color);
}

.section-content .hero-section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.hero-section-right {
    position: relative;
    top: 10rem;

}

.hero-section-right .hero-section-img img {
    width: 90%;
    height: auto;

}

.hero-section-content .hero-section-left .hero-section-btn .btn {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 2rem;
    background-color: inherit;
    transition: all 0.5s linear;
}

.hero-section-content .hero-section-left .hero-section-btn .btn:hover {
    background-color: var(--secondary-heading-color);
}

.hero-section-notice {
    display: flex;
    z-index: 2;
    position: absolute;
    gap: 3rem;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

.hero-section-notice .section-notice {
    background-color: var(--nav-bg-color);
    padding: 1.5rem 3rem;
    width: 20rem;
    border-radius: 2rem;
    color: var(--main-heading-color);
    
}

.section-notice .sub-heading {
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 0;
}

.section-notice .para {
    margin: 0;
}


.hero-section-notice .section-notice-right {
    position: relative;
    right: -5rem;
    bottom: 20rem;
}

.hero-section-notice .section-notice-right div, .hero-section-notice .section-notice-left div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
} 

.btn

.section-notice-right div i, .section-notice-left div i {
    color: var(--btn-1-bg-color);
    font-size: 3rem;
}

.hero-section-notice .section-notice-left {
    position: relative;
    right: 18rem;
    top: 7rem;
}

/* Advertise Section */

.advertise-section {
    background: var(--main-bg-color);
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.first-advertise-section {
    display: flex;
    background-color: var(--nav-bg-color);
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 2rem;
}

.first-advertise-section .first-item-content, .first-advertise-section .second-item-content {
    border-right: 0.2rem solid var(--para-text-color);
    padding: 6rem;
}

.first-advertise-section .third-item-content {
    padding: 6rem;
}

.card-container .btn {
    padding-left: 0 2rem ;
    background-color: var(--icon-bg-color);
    color: var(--btn-2-bg-color);
}

.card-container .btn:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}


/* Career Section */

.career-section {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color); 
}

.career-container {
    display: flex;
    margin-bottom: 2rem;
    padding: 8rem 0 5rem 5rem;
    gap: 6.9rem;
    justify-content: center;
    align-items: center;
}

.career-container .career-content-left img {
    width: 100%;
    height: auto;

}

.career-content {
    padding: 0 1.2rem;
}

.career-content-right .sub-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.career-content-right .para {
    margin-top: 0;
    margin-bottom: 3rem;
}

.career-content-right .sub-heading span{
    color: var(--secondary-heading-color);
    text-decoration: underline;
}

.career-div {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    border: 0.1rem solid var(--border-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-in-out;
}

.career-div:hover {
    border-left: 0.7rem solid var(--secondary-heading-color);
}

.career-div .sub-heading {
    font-size: 2.2rem;
}

.career-div .para {
    margin: 0;
}

.career-div .carrer-icon i{
    font-size: 2.2rem;
    background-color: var(--icon-bg-color);
    padding: 2.5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.career-btn .discover-btn {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
    transition: all 0.5s ease-in-out;
}
.career-btn .discover-btn:hover {
    background-color: var(--btn-2-bg-color);
}

/* achivement Section*/

.achivement-container {
    padding: 8rem 0;
}

.achivement-card {
    display: flex;
    gap: 3rem;
    height: auto;
    margin: 0 2rem;
}

.achivement-heading .achivement-para {
    color: var(--btn-1-bg-color);
    text-transform: uppercase;
    font-weight: 500;
}
.achivement-heading .achivement-para::after {
    content: "";
    width: 12rem;
    height: 0.2rem;
    display: inline-block;
    background: #2eca7f;
    margin: 4px 10px;
}

.achivement-heading .achivement-sub-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

.achivement-heading .achivement-sub-heading span {
    color: var(--secondary-heading-color);
    text-decoration: underline;
}

.achivement-container .achivement-content {
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.achivement-container .achivement-content .card-icon .fa-face-smile{
    font-size: 4.2rem;
    color: var(--smile-icon-color);
}
.achivement-container .achivement-content .card-icon .fa-file {
    font-size: 4.2rem;
    color: var(--file-icon-color);
}
.achivement-container .achivement-content .card-icon  .fa-headphones-simple{
    font-size: 4.2rem;
    color: var(--headphone-icon-color);
}
.achivement-container .achivement-content .card-icon  .fa-user-tie{
    font-size: 4.2rem;
    color: var(--user-icon-color);
}

.achivement-container .card-title {
    margin-left: 1.5rem;
}
.achivement-container .card-title .card-heading {
    font-size: 3.6rem;
}
.achivement-container .card-title .para {
    margin: 1rem 0 0 0;
}

/* Trusted Company Section */
.trusted-section .trusted-company-comntainer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 8rem 0;
}

.trusted-section .trusted-heading {
    margin-bottom: 6rem;
    padding: 1rem;
    background-color: var(--icon-bg-color);
    border-radius: 3rem;
}

.trusted-sub-heading {
    color: var(--secondary-heading-color);
    font-size: 2.4rem;
    width: 80vh;
    text-align: center;
}

.trusted-section .trusted-company {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    overflow: hidden;
}

.trusted-section .trusted-company-list {
    animation: right-to-left 15s linear infinite ;
}

.trusted-company-list {
    width: 100%;
    height: auto;
}

/* Animation for logo goes right to left direction */


@keyframes right-to-left {
    0% {
        transform: translate(100%);
    }
    50% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-100%);
    }
}


/* feature Section */

.feature-container {
    padding: 8rem 3rem;
}

.feature-card {
    display: flex;
    column-gap: 3rem;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feature-heading .feature-para {
    color: var(--btn-1-bg-color);
    text-transform: uppercase;
    font-weight: 500;
}
.feature-heading .feature-para::after {
    content: "";
    width: 12rem;
    height: 0.2rem;
    display: inline-block;
    background: #2eca7f;
    margin: 4px 10px;
}

.feature-heading .feature-sub-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

.feature-heading .feature-sub-heading span {
    color: var(--secondary-heading-color);
    text-decoration: underline;
}

.feature-container .feature-content {
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42rem;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

.feature-content:hover {
    transform: translateY(-3%);
}

.feature-container .feature-content .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--feature-bg-icon-color);
    border-radius: 50%;
    padding: 2.5rem;
}

.feature-container .feature-content .card-icon .fa-book-open {
    transform: scale(1.5);
    color: var(--learn-icon-color);
}
.feature-container .feature-content .card-icon .fa-heart {
    transform: scale(1.5);
    color: var(--expert-icon-color);
}
.feature-container .feature-content .card-icon .fa-user {
    transform: scale(1.5);
    color: var(--team-icon-color);
}
.feature-container .feature-content .card-icon .fa-eye {
    transform: scale(1.5);
    color: var(--course-icon-color);
}
.feature-container .feature-content .card-icon .fa-lightbulb {
    transform: scale(1.5);
    color: var(--teacher-icon-color);
}
.feature-container .feature-content .card-icon .fa-envelope {
    transform: scale(1.5);
    color: var(--strong-icon-color);
}

.feature-container .card-title {
    margin-left: 1.5rem;
}
.feature-container .card-title .card-heading {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.feature-container .card-title .para {
    margin: 1rem 0 0 0;
}
/* Popular Courses Section */

.courses-container {
    padding: 8rem 3rem;
}

.courses-heading .courses-para {
    color: var(--btn-1-bg-color);
    text-transform: uppercase;
    font-weight: 500;
}
.courses-heading .courses-para::after {
    content: "";
    width: 12rem;
    height: 0.2rem;
    display: inline-block;
    background: #2eca7f;
    margin: 4px 10px;
}

.courses-heading .courses-sub-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

.courses-heading .courses-sub-heading span {
    color: var(--secondary-heading-color);
    text-decoration: underline;
}

.courses-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.courses-content .courses-image img {
    width: 100%;
    height: auto;
}

.courses-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 40.5rem;
}


.courses-content .courses-details {
    padding: 3rem;
}

.courses-details .courses-stream-btn {
    margin-bottom: 2rem;
}

.courses-details .courses-stream-btn .btn {
    padding: 0.6rem 2rem;
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}
.courses-details .courses-title  .sub-heading{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.courses-description .courses-div, .courses-description, .courses-details .courses-seats {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.courses-description .courses-div i, .courses-details .courses-seats i {
    color: var(--btn-1-bg-color);
    font-size: 1.6rem;
}

.courses-description .courses-div .para, .courses-details .courses-seats .para {
    color: var(--btn-2-bg-color);
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.view-courses-btn {
    margin: 5rem 0 0;
}

.view-courses-btn .course-btn {
    background-color: var(--btn-1-bg-color);
    color: white;
    padding: 1.5rem 4rem;
    border-radius: 3rem;
    transition: all 0.5s linear;
}

.view-courses-btn .course-btn:hover {
    background-color: var(--btn-2-bg-color);
}
