* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: linear-gradient(to right, #DEF5F3, #F8F9F9, #FFF2F3, #FFF0F2);
    --main-heading-color: #1A2D62;
    --secondary-heading-color: #2ECA7F;
    --nav-bg-color: #ffffff;
    --btn-1-bg-color: #2ECA7F;
    --white-color: #ffffff;
    --btn-2-bg-color: #1A2D62;
    --para-text-color: #888888;
    --border-bg-color: #b7b6b6;
    --icon-bg-color: #acf3d0;
}

html {
   font-size: 62.5%;
}


.btn {
    padding: 1.5rem 3rem;
    border: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 2rem;
    font-weight: 600;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}

li, a, i {
    font-size: 1.8rem;
    list-style: none;
    text-decoration: none;
    color: var(--main-heading-color);
}

.para {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--para-text-color);
    margin-bottom: 2rem;
}

.sub-heading {
    font-size: 2rem;
    color: var(--main-heading-color);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}

.nav-section {
    display: flex;
    background-color: var(--nav-bg-color);
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-weight: 600;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.nav-section .nav-logo img {
    width: 150px;
}

.nav-section .navbar ul {
    display: flex;
    gap: 3rem;
}


.nav-section .navbar ul a:hover, .nav-section .navbar ul li i:hover {
    color: var(--secondary-heading-color);
}

.nav-section .nav-content {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.nav-section .nav-content .cart-content {
    display: flex;
    gap: 5rem;
    cursor: pointer;
}

.nav-section .nav-content .cart-content i {
    font-size: 2.2rem;
    position: relative;
}

.nav-section .nav-content .cart-content .heart-icon i::after {
    content: '0';
    position: absolute;
    top: -50%;
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: var(--secondary-heading-color);
}
.nav-section .nav-content .cart-content .add-to-cart i::after {
    content: '2';
    position: absolute;
    top: -50%;
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 0.3rem;
    text-align: center;
    color: white;
    background-color: var(--secondary-heading-color);
}

.nav-section .nav-content .account-content {
    display: flex;
    gap: 1.5rem;
}

.account-content .btn {
    padding: 1rem 3rem;
    border: none;
    font-size: 1.9rem;
    text-transform: capitalize;
    border-radius: 2rem;
    font-weight: 600;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.account-content .btn-1 {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}

.account-content .btn-1:hover {
    background-color: var(--btn-2-bg-color);
    color: var(--white-color);
}

.account-content .btn-2 {
    border: 0.1rem solid gray;
    color: var(--btn-2-bg-color);
}

.account-content .btn-2:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
    border: none;
}

/* Hero section Start */

.hero-section-content .hero-section-left {
    width: 40%;
}

.hero-section-content .hero-section-left .main-heading {
    font-size: 6.6rem;
    color: var(--main-heading-color);
    margin-bottom: 2rem;
}

.hero-section-content .hero-section-left .main-heading .highlight-text {
    color: var(--secondary-heading-color);
}


.hero-section-container {
    width: 100%;
    height: 100vh;
    background: var(--main-bg-color);
}

.section-content .hero-section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.hero-section-right {
    position: relative;
    top: 10rem;

}

.hero-section-right .hero-section-img img {
    width: 90%;
    height: auto;

}

.hero-section-content .hero-section-left .hero-section-btn .btn {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 2rem;
    background-color: inherit;
    transition: all 0.5s linear;
}

.hero-section-content .hero-section-left .hero-section-btn .btn:hover {
    background-color: var(--secondary-heading-color);
}

.hero-section-notice {
    display: flex;
    z-index: 2;
    position: absolute;
    gap: 3rem;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

.hero-section-notice .section-notice {
    background-color: var(--nav-bg-color);
    padding: 1.5rem 3rem;
    width: 20rem;
    border-radius: 2rem;
    color: var(--main-heading-color);
    
}

.section-notice .sub-heading {
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 0;
}

.section-notice .para {
    margin: 0;
}


.hero-section-notice .section-notice-right {
    position: relative;
    right: -5rem;
    bottom: 20rem;
}

.hero-section-notice .section-notice-right div, .hero-section-notice .section-notice-left div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
} 

.btn

.section-notice-right div i, .section-notice-left div i {
    color: var(--btn-1-bg-color);
    font-size: 3rem;
}

.hero-section-notice .section-notice-left {
    position: relative;
    right: 18rem;
    top: 7rem;
}

/* Advertise Section */

.advertise-section {
    background: var(--main-bg-color);
    padding-bottom: 5rem;
}

.first-advertise-section {
    display: flex;
    background-color: var(--nav-bg-color);
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 2rem;
}

.first-advertise-section .first-item-content, .first-advertise-section .second-item-content {
    border-right: 0.2rem solid var(--para-text-color);
    padding: 6rem;
}

.card-container .btn {
    padding-left: 0 2rem ;
    background-color: var(--icon-bg-color);
    color: var(--btn-2-bg-color);
}

.card-container .btn:hover {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
}


/* Career Section */

.career-section {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color); 
}

.career-container {
    display: flex;
    margin-bottom: 2rem;
    padding: 8rem 0 5rem 5rem;
    gap: 6.9rem;
    justify-content: center;
    align-items: center;
}

.career-container .career-content-left img {
    width: 100%;
    height: auto;

}

.career-content {
    padding: 0 1.2rem;
}

.career-content-right .sub-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.career-content-right .para {
    margin-top: 0;
    margin-bottom: 3rem;
}

.career-content-right .sub-heading span{
    color: var(--secondary-heading-color);
    text-decoration: underline;
}

.career-div {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    border: 0.1rem solid var(--border-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-in-out;
}

.career-div:hover {
    border-left: 0.7rem solid var(--secondary-heading-color);
}

.career-div .sub-heading {
    font-size: 2.2rem;
}

.career-div .para {
    margin: 0;
}

.career-div .carrer-icon i{
    font-size: 2.2rem;
    background-color: var(--icon-bg-color);
    padding: 2.5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.career-btn .discover-btn {
    background-color: var(--btn-1-bg-color);
    color: var(--white-color);
    transition: all 0.5s ease-in-out;
}
.career-btn .discover-btn:hover {
    background-color: var(--btn-2-bg-color);
}